@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3, h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;

}
p, li {
	font-size: 18px;
	line-height: 1.5;
	cursor: default;
}
h1 {
	font-size: 36px;
	margin-left: 15px;
}
h2,h3,h4 {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-pills>li>a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav-pills>li>a:focus, .nav-pills>li>a:hover {
	  text-decoration: none;
    background-color: #eee;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	color: #337ab7;
	background-color: #F0F0F0;
}
.btn {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.well {
	margin-top: 20px;
}
.download img {
	margin-bottom: 10px;
}
.footer {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;

}
.text-muted {
	padding-left: 0px;
	padding-right: 0px;

}
.text-right {
	padding-left: 0px;
	padding-right: 30px;
}
.footer p {
	font-size: 16px;
}
.text-left, .text-right {
	margin-bottom: 0px;
}
.text-left.col-md-6 {
	padding: 0px;
}