@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}
p, li {
	font-size: 18px;
	line-height: 1.5;
}
h1 {
	font-size: 60px;
}
h2,h3 {
	font-size: 30px;
}
.btn {
	font-family: 'Ubuntu', sans-serif;
}
.well {
	margin-top: 20px;
}
.container .text-muted {
	margin: 20px;
}